/* CSS in App.css or any other CSS file */
.container {
  /* Center horizontally */
  display: flex;
  justify-content: center;

  /* Center vertically */
  align-items: center;

  /* Set height to make vertical centering effective */
  height: 100vh; /* 100% of viewport height */
}

.login-button {
  /* Additional button styles */
}


/* App.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo {
  flex: 1;
}

.exam-name {
  flex: 2;
  text-align: center;
}

.timer {
  flex: 1;
  text-align: right;
}

.quiz-container {
  padding: 1rem;
}

.question {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}
